footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #00CEE0;
    text-align: center;
    box-sizing: border-box;
}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}